.header {
   font-style: italic;
   font-family: Helvetica;
   }

img {
  width: 50%;
  height: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: #ede2d7 ;
}

